@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
}

@layer base {
  h1 {
    font-weight: 700;
    font-family: Inter;
    letter-spacing: -3%;
    font-size: 64px;
    line-height: 70px;
  }

  h2 {
    font-weight: 700;
    font-family: Inter;
    letter-spacing: -2%;
    font-size: 40px;
    line-height: 48px;
  }

  h3 {
    font-weight: 400;
    font-family: Inter;
    letter-spacing: -2%;
    font-size: 32px;
    line-height: 38px;
  }

  h4 {
    font-weight: 400;
    font-family: Inter;
    letter-spacing: -2%;
    font-size: 24px;
    line-height: 30px;
  }

  h5 {
    font-weight: 500;
    font-family: Inter;
    letter-spacing: -2%;
    font-size: 20px;
    line-height: 24px;
  }

  h6 {
    font-weight: 400;
    font-family: Inter;
    letter-spacing: -2%;
    font-size: 16px;
    line-height: 22px;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

/* Formula Loader classes */
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  z-index: 100px;
}
/* Creating the dots */
.dot {
  height: 9px;
  width: 9px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #c2e0e8;
  animation: loading 1s linear infinite;
}
/* Creating the loading animation*/
@keyframes loading {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(15px);
  }
  50% {
    transform: translateX(-15px);
  }
  100% {
    transform: translateX(0);
  }
}
span:nth-child(1) {
  animation-delay: 0.1s;
}
span:nth-child(2) {
  animation-delay: 0.2s;
}
span:nth-child(3) {
  animation-delay: 0.3s;
}
span:nth-child(4) {
  animation-delay: 0.4s;
}
span:nth-child(5) {
  animation-delay: 0.5s;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loading-dot {
  width: 0.75rem;
  height: 0.75rem;
  margin-right: 0.5rem;
  border-radius: 50%;
  background-color: #c2e0e8;
  transition: all 0.2s ease-in-out;
}

.loading-dot.active {
  transform: scale(1.3);
  background-color: #95ca45;
}

.addFadeUpAnimation {
  animation-name: fadeInUp;
  animation-duration: 0.5s;
}

/* 250ms */

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.elementToFadeInAndOut {
  opacity: 1;
  animation: fade 2s infinite;
}
@keyframes fade {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
